* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 28px;
}

h2 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 50px;
  line-height: 60px;
}

h3 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 35px;
  line-height: 40px;
}

h5 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

h6 {
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.flexContainer-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexContainer-flexStart {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 70px;
}

footer {
  bottom: 0;
  position: absolute;
}

.btn-font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-align: center;
}

.nav-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.radius {
  border-radius: 50px;
}

.btn-red {
  background-color: #e9524d;
  color: white;
  cursor: pointer;
  text-align: center;
}
.btn-red :hover {
  color: white;
}

.edit-button {
  background-color: #263348;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

.bg-blue {
  background-color: #828282;
}

.bg-cyan {
  background-color: #828282;
}

.border-blue {
  border: 3px solid #828282;
}
@media (max-width: 720px) {
  .border-blue {
    border: 0;
  }
}

.border-gray {
  border: 3px solid #828282;
}

.border-red {
  border: 3px solid #e9524d;
}

.logo {
  width: 200px;
  display: flex;
}
.logo__icon {
  width: 60px;
  height: 60px;
  fill: #dd3c42;
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav {
  justify-content: space-evenly;
  width: 300px;
}

.button {
  background-color: #e9524d;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

.signInButton {
  cursor: pointer;
  padding: 6px 15px;
}

.button-red {
  background-color: #e9524d;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

.button-black {
  background-color: #263348;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #67696b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-form {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 720px) {
  .container-form {
    height: 100%;
    width: 100%;
  }
}

.form-box {
  background-color: white;
  height: 85vh;
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 720px) {
  .form-box {
    height: 100%;
    width: 100%;
  }
}

.bg-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

.bg-upload {
  background-image: url("../images/KateLeslie_HolidaySeries1.jpg");
}

.bg-register {
  background-image: url("../images/KateLeslie_HolidaySeries2.jpg");
}

.bg-update {
  background-image: url("../images/casmir-YanaBrewster.jpg");
}

.portfolioCard {
  border: none;
  height: 400px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  width: 390px;
}

.portfolioPage-image {
  background-color: #828282;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 250px;
  width: 100%;
}

#myProjectCards {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: flex-start;
}

.portfolioPage-buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.portfolioPage-buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 42%;
}

.noPortfolio {
  font-size: x-large;
  margin-bottom: 8rem;
  width: 100%;
}

.userInfoField {
  width: 100px;
}

.portfolioPage-cardTitle {
  margin: auto;
}

.landingPage-banner {
  background-image: url("../images/BarneyBrewsterBanner.jpg");
  background-size: cover;
  height: 50vh;
}
@media (max-width: 960px) {
  .landingPage-banner {
    background-repeat: no-repeat;
    height: 25vh;
  }
}

.filterDropdown {
  background-color: #37465d;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.filterInputGroup {
  border-radius: 20px;
}

#artsDeck {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: flex-start;
}

.artcard {
  border: none;
  height: 700px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  width: 450px;
}

.artcard-title {
  height: 56px;
  margin-right: 50px;
}

.artcard-body {
  padding-left: 30px;
  padding-right: 30px;
}

.artcard-columnwrap {
  display: flex;
  justify-content: space-between;
}

.artcard-description {
  height: 72px;
  overflow: hidden;
  text-align: justify;
}

.art-image {
  border: none;
  border-radius: 50px;
  height: auto;
  max-height: 300px;
  max-width: 449px;
  width: auto;
}

.artcard-link {
  color: black;
  text-decoration: underline;
}

.artcard-category {
  color: #e9524d;
}

.nav-border {
  border-bottom: 4px solid #828282;
  width: 100%;
}

.card-border {
  border-bottom: 2px solid #828282;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  width: 100%;
}

.card-img-top {
  height: 20vw;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 720px) {
  .card-img-top {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .logo {
    margin-right: 10%;
    width: 35%;
  }
}

@media (max-width: 900px) {
  #memberName {
    display: none;
  }
}

#viewMorePage-artInfo {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3rem;
}

.viewMore-photoBackground {
  align-content: center;
  background-color: #828282;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.viewMore-mainPhoto {
  height: auto;
  max-width: 70vw;
}

.viewMore-endBoarder {
  border-bottom: lightgrey 2px solid;
  padding-bottom: 2rem;
}

.viewMorePage-commentsWrapper {
  max-width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
}

.comment-container {
  border: #e9524d 1px solid;
  border-radius: 20px;
  padding: 1rem;
}
.comment-container--left {
  text-align: left;
}
.comment-container--right {
  text-align: right;
}

.comment-info {
  display: flex;
}

.comment-right {
  background-color: #828282;
  text-align: right;
}

.comment-left {
  background-color: white;
  text-align: left;
}

#signUpPage {
  display: none;
}

/*# sourceMappingURL=style.css.map */
