* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-pearl {
  color: #f5f1ed;
}

.color-aegean {
  color: #37465d;
}

.color-black {
  color: black;
}

.color-grey {
  color: #828282;
}

.color-watermelon {
  color: #e9524d;
}

body {
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 28px;
}

h2 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 50px;
  line-height: 60px;
}

h3 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 35px;
  line-height: 40px;
}

h5 {
  color: black;
  font-family: 'Crimson Text', sans-serif;
  font-size: 25px;
  line-height: 35px;
}

h6 {
  color: #828282;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.capitalised {
  text-transform: uppercase;
}

.flexContainer--row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flexContainer--col {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.flexContainer--col--centered {
  align-items: center;
}
.flexContainer--col--right {
  align-items: flex-end;
}

.flexContainer-flexStart {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 70px;
}

footer {
  bottom: 0;
  position: absolute;
}

.edit-button {
  background-color: #263348;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__icon {
  width: 50px;
  height: 50px;
  fill: #dd3c42;
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav {
  justify-content: space-between;
  width: 75vw;
}

.authBtnWrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
.authBtnWrapper > div:hover {
  border-bottom: 1px #828282 solid;
}

.button {
  color: #37465d;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  cursor: pointer;
  line-height: 54px;
  height: 54px;
  background-color: transparent;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  padding-left: 52px;
  padding-right: 52px;
  width: fit-content;
}
.button:hover {
  background-color: #37465d;
  color: white;
}
.button--small {
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #37465d;
  color: white;
}
.button--bordered {
  border: 1px #37465d solid;
}
.button--accordion {
  width: 400px;
}

.buttonLink {
  color: #37465d;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  width: fit-content;
}
.buttonLink:hover {
  border-bottom: 1px #37465d solid;
}
.buttonLink--noCap {
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}
.buttonLink--small {
  font-size: 13px;
  letter-spacing: 0.5px;
}
.buttonLink--grey {
  color: #828282;
}
.buttonLink--grey:hover {
  border-bottom: 1px #828282 solid;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #67696b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-form {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 720px) {
  .container-form {
    height: 100%;
    width: 100%;
  }
}

.form-box {
  background-color: white;
  height: 85vh;
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 720px) {
  .form-box {
    height: 100%;
    width: 100%;
  }
}

.bg-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

.bg-upload {
  background-image: url("../images/KateLeslie_HolidaySeries1.jpg");
}

.bg-register {
  background-image: url("../images/KateLeslie_HolidaySeries2.jpg");
}

.bg-update {
  background-image: url("../images/casmir-YanaBrewster.jpg");
}

.portfolioCard {
  border: none;
  height: 400px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  width: 390px;
}

.portfolioPage-image {
  background-color: #828282;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 250px;
  width: 100%;
}

#myProjectCards {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: flex-start;
}

.portfolioPage-buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.portfolioPage-buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 42%;
}

.noPortfolio {
  font-size: x-large;
  margin-bottom: 8rem;
  width: 100%;
}

.userInfoField {
  width: 100px;
}

.portfolioPage-cardTitle {
  margin: auto;
}

.landingPage-banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position-y: center;
  height: 400px;
}
@media (max-width: 960px) {
  .landingPage-banner {
    background-repeat: no-repeat;
    height: 25vh;
  }
}

.filterDropdown {
  background-color: #37465d;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.filterInputGroup {
  border-radius: 20px;
}

#productsDeck {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: flex-start;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.productCard-columnWrap {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.productCard-description {
  height: 72px;
  overflow: hidden;
  text-align: justify;
}

.productCard-toggleSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transform: translateX(-45%);
  transition: all 1s;
}

.productCard-price {
  transition: opacity .1s;
}

.productCard-viewMoreLink {
  width: 100px;
  opacity: 0;
  transition: opacity .1s;
}

.card {
  border: 0;
  width: 100%;
  padding: 40px 15px 30px 15px;
}
.card > img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 220px;
  width: 150px;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .logo {
    margin-right: 10%;
    width: 35%;
  }
}

@media (max-width: 900px) {
  #memberName {
    display: none;
  }
}

#viewMorePage {
  border-top: 0.5px #f5f1ed solid;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1rem;
}

.backIcon {
  fill: #828282;
  width: 20px;
  height: 20px;
}

.viewMorePage__mainPhoto {
  max-height: 500px;
}

.viewMorePage__thumbnail {
  border-radius: 50%;
  border: 1.5px #f5f1ed solid;
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: center;
}

.viewMorePage__accordion--content {
  max-width: 400px;
}

.viewMorePage-postComment {
  padding-bottom: 16px;
  border-bottom: 1px #f5f1ed solid;
}

#signUpPage {
  display: none;
}

/*# sourceMappingURL=style.css.map */
