#uploadProductPage {
    background-color: $colour-white--grey;
}

.addProductForm__photoContainer {
    height: 130px;
    padding: 1rem;
    border: 1px $colour-white--grey solid;
    position: relative;

    & > div {
        position: relative;
    }

    & > div:first-of-type {
        top: 15%;
    }

    & > div:nth-of-type(2) {
        top: 90%;
    }
}

#addProductForm__missingDelivery, #addProductForm__missingPhoto {
    display: none;
}