.flexContainer--row {
    align-items: center;
    display: flex;
    flex-direction: row;

    &--top {
        align-items: flex-start;
    }

    &--space-evenly {
        justify-content: space-evenly;
    }

    &--space-between {
        justify-content: space-between;
    }
}

.flexContainer--col {
    display: flex;
    flex-direction: column;
    justify-items: center;

   &--centered {
       align-items: center;
   }

   &--right {
    align-items: flex-end;
   }
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
}

footer {
  bottom: 0;
  position: absolute;
}

// grid break points - max

$mobile: 540px;
$tablet: 720px;
$desktop: 960px;
$desktop-xl: 1140px;

.pl-15 {
    padding-left: 15px;
}

.mb-18 {
    margin-bottom: 18px;
}