// buttons
// yanas code
.btn-font
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	text-align: center;
}
.nav-font
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.radius
{
	border-radius: 50px;
}

.btn-red {
  background-color: $colour-watermelon;
  color: white;
	cursor: pointer;
  text-align: center;

	:hover {
		color: white;
	}
}

.edit-button {
  background-color: $colour-aegean-dark;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

// background colours
.bg-blue
{
	background-color: $colour-grey;
}
.bg-cyan
{
	background-color: $colour-grey;
}
// borders
.border-blue
{
	border: 3px solid $colour-grey;
	  // Yanas responsive code
	@media (max-width: $tablet) {
		border: 0;
	}
}
.border-gray
{
	border: 3px solid $colour-grey;
}
.border-red
{
	border: 3px solid $colour-watermelon;
}

// Yanas code ends

// Hayley's code
.logo {
  width: 200px;
  display: flex;

  &__icon {
    width: 60px;
    height: 60px;
    fill: $colour-rouge;
  }
}

.header {
  // margin: 1rem;
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav {
  justify-content: space-evenly;
  width: 300px;
}

.button {
  background-color: $colour-watermelon;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}

.signInButton {
  cursor: pointer;
  padding: 6px 15px;
}

.button-red {
  background-color: $colour-watermelon;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

.button-black {
  background-color: $colour-aegean-dark;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  text-align: center;
}

// Loading spinner

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #67696b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


// Hayley's code ends
