// buttons


.edit-button {
  background-color: $colour-aegean-dark;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 9px 15px;
}


.logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

    &__icon {
      width: 50px;
      height: 50px;
      fill: $colour-rouge;
    }
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
}

.nav {
  justify-content: space-between;
  width: 75vw;
}

.authBtnWrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  width: 40%;

  & > div:hover {
    border-bottom: 1px $colour-grey solid;
  }
}

.button {
  color: $colour-aegean;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  cursor: pointer;
  line-height: 54px;
  height: 54px;
  background-color: transparent;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  padding-left: 52px;
  padding-right: 52px;
  width: fit-content;

  &:hover {
    background-color: $colour-aegean;
    color: white;
  }

  &--small {
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $colour-aegean;
    color: white;
  }

  &--bordered {
      border: 1px $colour-aegean solid;
  }

  &--noCap {
    text-transform: none;
  }

  &--accordion {
    width: 400px;
  }
}

.buttonLink {
  color: #37465d;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    border-bottom: 1px $colour-aegean solid;
  }

  &--noCap {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
  }

  &--small {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  &--grey {
    color: $colour-grey;

    &:hover {
      border-bottom: 1px $colour-grey solid;
    }
  }
}

.btBorder {
  border-bottom: 1px $colour-pearl solid;

  &--medium {
    padding-bottom: 30px;
  }
}


// Loading spinner

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $colour-watermelon;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  padding: 0;
}

.bg__grey--light {
  background-color: $colour-grey--light;
}
