.logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
      &--small {
        width: 100px;
      }
  
      &__icon {
        width: 50px;
        height: 50px;
        fill: $colour-rouge;
      }
  
      &__icon--small {
        width: 100px;
        width: 25px;
        height: 25px;
      }
  }

.header {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: space-between;
  }
  
  .nav {
    justify-content: space-between;
    width: 75vw;
  }

  #nav {
      display: none;

      @media (min-width: 850px) {
          display: contents;
      }
  }

  #mobileNav, #openMobileNav {
    display: block;

    @media (min-width: 850px) {
        display: none;
    }
}
  
  #addProduct {
    color: $colour-aegean !important;
  }
  
  .authBtnWrapper {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  
    & > div:hover {
      border-bottom: 1px $colour-grey solid;
    }
  }

  .mobileNav--overlay { 
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(243, 243, 243, 0.9); 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .mobileNav--overlay__content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .mobileNav--overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .mobileNav--overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .mobileNav--overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .mobileNav--overlay a {font-size: 20px}
    .mobileNav--overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }