.container-form{
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  width: 70%;
  @media (max-width: $tablet) {
    height: 100%;
    width: 100%;
}
}

.form-box{
  background-color: white;
  height: 85vh;
  margin: 0 auto;
  width: 60%;
  @media (max-width: $tablet) {
    height: 100%;
    width: 100%;
}
}

.bg-page
{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	width: 100%;
	z-index: -2;
}
// background image for upload project form
.bg-upload
{
	background-image: url("../images/KateLeslie_HolidaySeries1.jpg");
}
// background image for sign up page
.bg-register
{
	background-image: url("../images/KateLeslie_HolidaySeries2.jpg");
}

// background image for update page
.bg-update
{
	background-image: url("../images/casmir-YanaBrewster.jpg");
}

// Yanas code ends

// Hayley's code

.portfolioCard {
  border: none;
  height: 400px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  width: 390px;
}

.portfolioPage-image {
  background-color: $colour-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 250px;
  width: 100%;
}

#myProjectCards {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: flex-start;
}

.portfolioPage-buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.portfolioPage-buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 42%;
}

.noPortfolio {
  font-size: x-large;
  margin-bottom: 8rem;
  width: 100%;
}

.userInfoField {
  width: 100px;
}

.portfolioPage-cardTitle {
  margin: auto;
}

#accountPage__banner {
  height: 10vh;
  background-color: $colour-pearl;
}

#accountPage__memberPhoto {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  border: 4px $colour-white--grey solid;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  &:hover #accountPage__memberPhotoUpdateBtn {
    visibility: visible;
  }
}

#accountPage__memberPhotoUpdateBtn {
  position: absolute;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 45%;
  background-color: $colour-aegean;
  opacity: 0.8;
  visibility: hidden;  
}

.cardThumbnail {
  width: 50px;
  height: auto;
}

.accountPage__cardWrapper {
  padding-left: 60px;
}

#editProfilePhotoFormWrapper {
  height: 180px;
  border: 1px $colour-pearl solid;
  display: none;
}

.editProfilePhotoFormContainer {
  height: 50%;

  & > div {
    height: 70%;
  }
}

#editProfilePhotoForm {
  height: 100%;
}

#editProfilePhotoForm__file {
  position: absolute;
  top: 50%;
  margin-left: 5%;
  cursor: pointer;
}

.editProfilePhotoForm__fileWrapper {
  border-right: 1px $colour-pearl solid;
}

.editProfilePhotoForm__photoUrlWrapper {
  position: relative;

  & > input {
    position: absolute;
    top: 35%;
    margin-left: 10%;
  }
}

.form__infoText {
  position: absolute;
  top: 96%;
  left: 6%;
}

.accountPage__activityBtn {
  width: 100%;

  &--focused {
    background-color: $colour-aegean;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  }
}

#myProductsDeck {
  min-height: 600px;
  border: 1px $colour-pearl solid;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}


