#viewMorePage {
    border-top: 0.5px $colour-pearl solid;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1rem;
}

.backIcon {
    fill: $colour-grey;
    width: 20px;
    height: 20px;
}

.viewMorePage__mainPhoto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    margin-left: 80px;
    margin-right: 80px;
}

.viewMorePage__thumbnail {
    border-radius: 50%;
    border: 1.5px $colour-pearl solid;
    background-size: contain;
    background-position: center;

    &--seller {
        height: 80px;
        width: 80px;
    }

    &--commenter {
        height: 50px;
        width: 50px;
    }
}

.viewMorePage__accordion--content {
    max-width: 400px;
}

.viewMorePage-postComment {
    padding-bottom: 16px;
    border-bottom: 1px $colour-pearl solid;
}
