#viewMorePage {
    border-top: 0.5px $colour-pearl solid;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1rem;
}

.backIcon {
    fill: $colour-grey;
    width: 20px;
    height: 20px;
}

.viewMorePage__mainPhoto {
    max-height: 500px;
}

.viewMorePage__thumbnail {
    border-radius: 50%;
    border: 1.5px $colour-pearl solid;
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: center;
}

.viewMorePage__accordion--content {
    max-width: 400px;
}

.viewMorePage-postComment {
    padding-bottom: 16px;
    border-bottom: 1px $colour-pearl solid;
}
