// yanas code
// colours for app

// dark grey for text and buttons
$gray-dark: #333333;
$dark: #333333;

// light grey for background colour and boarders
$gray: #cccccc;
$secondary: #cccccc;

// Light blue for boarders
$blue: #99cccc;
$info: #99cccc;

// For blue button background colour and category name colour
$cyan: #339999;
$primary: #339999;

// red for delete buttons
$red: #FF9966;
$danger: #FF9966;

//Light grey for photo background
$grey-light: #f5f9f8;


// SMACCS Set up
@import 'base';
@import 'layout';
@import 'module';
@import 'portfolioPage';
//yanas code ends
@import 'landingPage';
@import 'viewMorePage';
@import 'signUpPage';

