* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


// COLOURS

$colour-pearl: rgb(245, 241, 237);

$colour-aegean: #37465d;

$colour-aegean-dark: #263348;

$colour-grey: #828282;

$colour-watermelon: #e9524d;

$colour-rouge: #dd3c42;

// TYPOGRAPHY

body {
    color: $colour-grey;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
}

h2 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

h3 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-size: 35px;
    line-height: 40px;
}

h5 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-size: 25px;
    line-height: 35px;
}

h6 {
    color: $colour-grey;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 28px;
}


// SMACCS Set up
@import 'layout';
@import 'module';
@import 'portfolioPage';
//yanas code ends
@import 'landingPage';
@import 'viewMorePage';
@import 'signUpPage';

