* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}


// COLOURS

$colour-pearl: rgb(245, 241, 237);

$colour-aegean: #37465d;

$colour-aegean-dark: #263348;

$colour-grey: #828282;

$colour-grey--light: #f0f1f052;

$colour-watermelon: #e9524d;

$colour-rouge: #dd3c42;

$colour-white--grey: #f1f1f1;


.color-pearl {
    color: $colour-pearl;
}

.color-aegean {
    color: $colour-aegean;
}

.color-black {
    color: black;
}

.color-grey {
    color: $colour-grey;
}

.color-watermelon {
    color: $colour-watermelon;
}

.color-white--grey {
    color: $colour-white--grey;
}

// TYPOGRAPHY

body {
    color: $colour-grey;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    height: 100%;
}

h1 {
    font-weight: 300;
}

h2 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
}

h3 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
}

h5 {
    color: black;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

h6 {
    color: $colour-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
}

input {
    font-weight: 300;
}

.form-control .form-control-file {
    font-weight: 300;
}

.capitalised {
    text-transform: uppercase;
}

.bold {
    font-weight: 500;
}

small {
    font-weight: 300;
}


// SMACCS Set up
@import 'layout';
@import 'module';
@import 'portfolioPage';
//yanas code ends
@import 'landingPage';
@import 'viewMorePage';
@import 'signUpPage';
@import 'addProductPage';

